.btn {
  border: 2px solid var(--main-text-color);
  background: transparent;
  color: var(--main-text-color);
  border-radius: 999px;
  padding: 5px 25px;
  font-weight: 700;
  cursor: pointer;
}

.btn--regular {
  font-size: 32px;
}

.btn--big {
  font-size: 64px;
  line-height: 83px;
}

.btn--full {
  width: 100%;
}

.btn:active {
  background: var(--main-text-color);
  color: var(--background);
}